
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    height: 8rem;
    padding: 0 3rem;
    z-index: 1;

    &_title {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__search-tab {
        margin-left: 10rem;

        &_input-field {
            padding: 1rem;
            font-size: 1.4rem;
            width: 400px;
        }
    }
}