
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    height: 8rem;
    padding: 0 5rem;
    z-index: 1;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        height: 12rem;
        padding: 1rem 0;
      }

    &_title {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__search-tab {
        margin-left: 10rem;

        @media only screen and (max-width: 768px) {
            width: 100%;
            margin-left: 0;
            display: flex;
            justify-content: center;
          }

        &_input-field {
            padding: 1rem;
            font-size: 1.4rem;
            width: 400px;

            @media only screen and (max-width: 768px) {
                width: 80%;
              }
        }
    }

    &_right {
        color: rgb(90, 33, 196);
        cursor: pointer;
        font-size: 1.4rem;
    }
}