
.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0 2px 8px #f0f1f2;
    height: 8rem;
    padding: 0 5rem;
    z-index: 1;
    box-sizing: border-box;

    &_title {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__search-tab {
        margin-left: 10rem;

        &_input-field {
            padding: 1rem;
            font-size: 1.4rem;
            width: 400px;
        }
    }

    &_right {
        color: rgb(90, 33, 196);
        cursor: pointer;
        font-size: 1.4rem;
    }
}