.carousel-container {
    width: 100%;
    position: relative;

    &__wrapper {
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    &_item {
        width: 33.3%;
        padding: 2rem;
        margin: 1rem;
        background: white;
        border-radius: 5px;
        text-align: center;

        @media only screen and (max-width: 768px) {
            width: 90%;
            margin: 0 auto;
            padding: 2rem 0;
            border-radius: 10px;
          }

        img {
            width: 27rem;
            height: 20rem;
            border-radius: 5px;

            @media only screen and (max-width: 768px) {
                width: unset;
                border-radius: 10px;
              }
        }

        p {
            font-size: 1.3rem;
            font-weight: 600;
            padding-top: 2rem;
        }
    }

    &_arrow {
        position: absolute;
        top: 40%;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgb(67, 67, 243);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;

        &.disable {
            background-color: rgb(203, 203, 228);
            cursor: default;
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}
