*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
    // background-color: $color-black-primary;
}