
.home {
    background-color: #f7f7f8;
    min-height: 100vh;

    &__content {
        padding-top: 8rem;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;

        &_loading {
            width: 100%;
            padding-top: 5rem;
            display: flex;
            justify-content: center;
        }

        &_list-wrapper {
            width: 40%;
            padding-top: 5rem;
        }

        &_video-wrapper {
            width: 60%;
            padding: 5rem 0 0 5rem;
        }

        &_no-content {
            width: 100%;
            padding-top: 5rem;
            text-align: center;
            font-size: 1.6rem;
        }
    }
}