
.home {
    background-color: #f7f7f8;
    min-height: 100vh;
    overflow-x: hidden;

    &__content {
        padding-top: 8rem;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;

        @media only screen and (max-width: 768px) {
            padding-top: 12rem;
            flex-direction: column-reverse;
          }

        &_loading {
            width: 100%;
            padding-top: 5rem;
            display: flex;
            justify-content: center;
        }

        &_list-wrapper {
            width: 40%;
            padding-top: 5rem;

            @media only screen and (max-width: 768px) {
                width: 100%;
              }
        }

        &_video-wrapper {
            width: 60%;
            padding: 5rem 0 0 5rem;

            @media only screen and (max-width: 768px) {
                width: -webkit-fill-available;
                padding: 2rem 1rem;
              }
        }

        &_video-wrapper-a {
            position: sticky;
            top: 13rem;
        }

        &_no-content {
            width: 100%;
            padding-top: 5rem;
            text-align: center;
            font-size: 1.6rem;
        }
    }
}
