.dropdown {
    position: relative;
    height: 100%;

    &_header {
        background-color: rgb(67, 67, 243);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        position: absolute;
        top: 100%;
        background-color: white;
        width: 100%;
        border: 1px solid lightgrey;
        z-index: 1;

        li {
            padding: 10px 0;
            display: flex;
            justify-content: center;
            color: black;
            font-size: 1.4rem;
            border-bottom: 1px solid lightgrey;
            cursor: pointer;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: lightgrey;
            }
        }
    }
}
